@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+TC&display=swap');

nav li {
      font-family: "WDXL Lubrifont TC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
    display: inline-block;

    border: 10px solid;
    border-radius: 50px;

    width: 241px;
    height: 77px;

    margin-right: 145px;
    background-color: blueviolet;
}