@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+TC&display=swap');
*{
    /*normalização*/
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav li {
      font-family: "WDXL Lubrifont TC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 413px;

    width: 160%;
    height: 140px;

    background-color: blue;
    border: 10px solid;
}

header nav ul li {
    display: inline-block;

    border: 10px solid;
    border-radius: 50px;

    width: 241px;
    height: 77px;

    margin-right: 145px;
    background-color: blueviolet;
}

header nav ul li a {
    text-decoration: none;

}

header img{
    width: 175px;
    height: 110px;
    object-fit: cover;


    border: 10px solid;
    border-radius: 25px;

}
main{
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
}